*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
::selection {
   background-color: white;
   color: #ff201e;
 }

 /* navbar */

.c-f{
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
  scroll-behavior: smooth;
  transition: 0.8s;
  background-color: #311E25;

}
.con{
   height: 100%;
}
.navicon-btn{
   background-color: transparent;
   border: none;
   outline: none;
}
.navicon{
   font-size: 34px;
   color: #CE9160;
   transition: 0.5s;
}
.navicon:hover{
   color: #E88C42;
   cursor: pointer;
   text-shadow: 0px 0px 20px #E88C42;
} 
.sidebar{
   height: 100%;
   width: 0;
   position: fixed;
   top: 0; 
   right: 0;
   z-index: 1;
   background-color: #311E25;
   overflow: hidden;
   transition: 1s;
}
.sidebar2{
   height: 100%;
   width: 100%;
   position: fixed;
   top: 0; 
   right: 0;
   z-index: 1;
   background-color: #311E25;
   overflow: hidden;
   transition: 1s;
}
.sidebar-content{
   position: relative;
   top: 25%;
   width: 100%;
   font-family: 'poppins';
}
.sidebar a{
   padding: 10px;
   text-decoration: none;
   text-align: center;
   color: #CE9160;
   display: block;
   font-size: 26px;
   transition: transform 0.5s;
}
.sidebar2 a{
   padding: 10px;
   text-decoration: none;
   text-align: center;
   color: #CE9160;
   display: block;
   font-size: 26px;
   transition: transform 0.5s;
}
.sidebar a:hover, .sidebar a:focus{
   color: #E88C42;
   text-shadow: 0px 0px 20px #E88C42;
   transform: scale(1.1);
   text-decoration: none;
}
.sidebar2 a:hover, .sidebar a:focus{
   color: #E88C42;
   text-shadow: 0px 0px 20px #E88C42;
   transform: scale(1.1);
   text-decoration: none;
}
.sidebar .closebtn{
   position: absolute;
   top: 15px;
   right: 40px;
   font-size: 36px;
   transition: 0.5s !important;
}
.sidebar2 .closebtn{
   position: absolute;
   top: 15px;
   right: 40px;
   font-size: 36px;
   transition: 0.5s !important;
}
.fontl{
   font-size:26px !important;
   color:#CE9160 !important;
   font-family: 'Poppins';
   font-weight:700;
}

/* hero-section */
.c-f1{
   height: auto;
   margin-top: -80px;
   padding-bottom: 80px;
   background-image: url('./assets/img.jpg');
}
.hdg{
   font-family: 'poppins' !important;
   color:  #CE9160 !important;
}
.hdg1{
   font-family: 'poppins' !important;
   color:  #D7D4D1 !important;
}
.btn1{
   height: 45px;
   width: 180px;
   background-color: transparent;
   border: 2px solid #CE9160;
   font-family: 'poppins';
   color: #CE9160;
   font-weight: 500;
   outline: none;
   transition: 0.8s;
}
.btn1:hover{
   background-color: #CE9160;
   color: #fff;
   outline: none;
   cursor: pointer;
   font-weight: 500;
   transform: scale(1.1);
}
.dis{
   height: 400px;
   width: 94%;
   margin:auto;
}
