@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
::selection {
  background-color: white;
  color: #ff201e;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #311e25;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #e88c42;
}

/* navbar */

.c-f {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 10;
  scroll-behavior: smooth;
  transition: 0.8s;
  background-color: transparent;
}
.con {
  height: 100%;
}
.navicon-btn {
  background-color: transparent;
  border: none;
  outline: none;
}
.navicon {
  font-size: 34px;
  color: #ce9160;
  transition: 0.5s;
}
.navicon:hover {
  color: #e88c42;
  cursor: pointer;
  text-shadow: 0px 0px 20px #e88c42;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #311e25;
  overflow: hidden;
  transition: 1s;
}
.sidebar2 {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #311e25;
  overflow: hidden;
  transition: 1s;
}
.sidebar-content {
  position: relative;
  top: 25%;
  width: 100%;
  font-family: "poppins";
}
.sidebar a {
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #ce9160;
  display: block;
  font-size: 26px;
  transition: transform 0.5s;
}
.sidebar2 a {
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #ce9160;
  display: block;
  font-size: 26px;
  transition: transform 0.5s;
}
.sidebar a:hover,
.sidebar a:focus {
  color: #e88c42;
  text-shadow: 0px 0px 20px #e88c42;
  transform: scale(1.1);
  text-decoration: none;
}
.sidebar2 a:hover,
.sidebar a:focus {
  color: #e88c42;
  text-shadow: 0px 0px 20px #e88c42;
  transform: scale(1.1);
  text-decoration: none;
}
.sidebar .closebtn {
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 36px;
  transition: 0.5s !important;
}
.sidebar2 .closebtn {
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 36px;
  transition: 0.5s !important;
}
.fontl {
  font-size: 26px !important;
  color: #ce9160 !important;
  font-family: "Poppins";
  font-weight: 700;
}

/* hero-section */
.c-f1 {
  height: auto;
  margin-top: -80px;
  background-image: url("./assets/img.jpg");
}
.hdg {
  font-family: "poppins" !important;
  color: #ce9160 !important;
}
.hdg1 {
  font-family: "poppins" !important;
  color: #d7d4d1 !important;
  padding-inline: 25px;
  font-weight: 300;
}
.typedText {
  text-transform: capitalize;
  color: #ce9160;
  font-weight: 600;
}
.mobile_size {
  font-weight: "normal";
  font-size: "2.7rem";
}
.small_size {
  padding-top: "90px";
  font-size: "0.8rem";
  text-transform: "uppercase";
  font-weight: "600";
}
.smallPara {
  font-size: "1.2rem";
  font-weight: "400";
}
.btn1 {
  height: 45px;
  width: 180px;
  background-color: #ce9160;
  border: 2px solid #ce9160;
  font-family: "poppins";
  color: white;
  font-weight: 500;
  outline: none;
  border-radius: 5px;
  transition: 0.8s;
}
.btn1:hover {
  cursor: pointer !important;
}
.btn1:active {
  transform: scale(0.7) !important;
}
.dis {
  height: 400px;
  width: 94%;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  margin-bottom: 135px !important;
}
.myImg {
  height: 100%;
  width: 75%;
  background-image: url(./assets/myImg.jfif);
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  position: absolute;
  right: 0;
}

/* About section  */

.c-f2 {
  height: auto;
  background-color: #311e25;
}
.hdg2 {
  font-family: "poppins";
  color: #ce9160 !important;
}
.dis1 {
  height: auto;
  width: 95%;
  margin: auto;
}
.btn2 {
  height: 40px;
  width: 160px;
  background-color: transparent;
  border: 2px solid #ce9160;
  color: #ce9160;
  font-family: "poppins";
  font-weight: 500;
  outline: none;
  transition: 0.8s;
}
.btn2:hover {
  background-color: #ce9160;
  color: #fff;
  border: 2px solid #ce9160;
  cursor: pointer;
  font-weight: 500;
}
.c-f3 {
  height: auto;
  background-color: #3b2930;
  padding-bottom: 100px;
}
/* .hdg3 {
  font-family: "bebas";
  color: #ce9160 !important;
  padding-top: 70px;
} */
.dis2 {
  height: auto;
  width: 85%;
  margin: auto;
}

/* skills section  */

.c-f3 {
  height: auto;
  background-color: #3b2930;
  padding-bottom: 100px;
}
/* .hdg3 {
  font-family: "bebas";
  color: #ce9160 !important;
  padding-top: 70px;
} */
.dis2 {
  height: auto;
  width: 85%;
  margin: auto;
}

/* service section  */

.c-f4 {
  height: auto;
  background-color: #311e25;
  padding-bottom: 120px;
}
.dis3 {
  height: auto;
  width: 95%;
  border: 1px solid #ce9160;
  margin-top: 50px !important;
  margin: auto;
}
.para {
  color: #ccc;
  font-family: "poppins";
}

/* projects section  */
.c-f5 {
  height: auto;
  background-color: #3b2930;
  padding-bottom: 100px;
}

/* portfoliogallery */

h1 {
  font-size: 50px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  display: block; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  color: #fff;
  background-color: #ce9160;
  font-weight: bold;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #e88c42;
  color: #fff;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #e88c42;
  color: white;
}

/* flipcard */

.flip-box {
  background-color: transparent;
  height: 350px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  background-color: #311e25;
  transition: transform 0.8s;
  transition: 0.9s;
}
.flip-box-inner:hover {
  border-radius: 10px;
  border: 1px solid #e88c42;
  cursor: pointer;
}
.flip-box:hover .hdg2 {
  color: white;
}
.mobile_Screen {
  font-weight: "300" !important;
  line-height: "1.4rem" !important;
  padding-inline: "25px" !important;
  font-size: "0.9rem" !important;
}
.flip-box-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  color: #e88c42;
}
.hdg4 {
  font-family: "poppins";
  color: #d7d4d1 !important;
  padding-top: 80px !important;
}
.btn3 {
  height: 40px;
  width: 160px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: 500;
  outline: none;
  transition: 0.8s;
}
.btn3:hover {
  background-color: white;
  color: black;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}
.dis4 {
  height: 200px;
  width: 99%;
  border: 1px solid #ce9160;
  margin-bottom: 50px;
}
.ic {
  font-size: 38px;
  color: #e88c42;
  margin-top: 35px;
}
.hdg5 {
  font-family: "poppins";
  color: #e88c42 !important;
  margin-top: 10px;
}
.myForm {
  margin-top: 50px;
}
.form1 {
  height: 40px;
  width: 95%;
  border-radius: 8px;
  padding-left: 8px;
  background-color: #311e25;
  color: white;
  font-family: "poppins";
  outline: none;
  border: 1px solid #ce9160;
  font-weight: 400 !important;
}

.ic1 {
  font-size: 24px;
  color: #ce9160;
  margin-top: 10px;
}
.ic12 {
  font-size: 24px;
  color: #ce9160;
  margin-top: 10px;
  padding-left: 10px;
}
.hdg6 {
  font-family: "poppins";
  color: #d7d4d1 !important;
  text-decoration: none;
  margin-top: 10px !important;
  transition: 0.4s;
}
.hdg6:hover {
  color: #ce9160 !important;
  text-decoration: none;
}
.btn4 {
  height: 40px;
  width: 180px;
  background-color: #311e25;
  border: 1px solid #ce9160;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  font-family: "poppins";
  outline: none;
  transition: 0.8s;
}
.btn4:hover {
  transform: scale(1.1);
  background-color: #ce9160;
}
.btn4:active {
  background-color: transparent;
  transform: scale(0.8);
  border: 10px solid #fff;
}
.btn5 {
  height: 40px;
  width: 180px;
  background-color: #ce9160;
  border: 2px solid #ce9160;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-family: "poppins";
  outline: none;
  transition: 0.8s;
}
